# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.env
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled Python files
*.pyc
*.pyo

# Translations
*.pot


# Pickle files
*.pkl


# SQLite DBs
*.sqlite3

# Coverage/test/cache files
.cache/
coverage.*
htmlcov/
.tox/
.pytest_cache/

# FastAPI/Starlette cache
**/__pycache__/

# Docker
*.pid
*.tar
*.bak
*.swp

# Mac/Linux user settings
*.swp
*.swo

# Python build
build/
dist/
*.egg-info/

# Pip
pip-log.txt
pip-delete-this-directory.txt
